body {
    margin: 0;
    padding: 0;
    background-color: #FF7F6F;
}

.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stats {
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.game-name {
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    font-size: 54px;
    display: inline-block;
    margin: 0px;
    color: #00FFD3;
    text-shadow: 5px 5px #77618C;
}

.game-name span {
    color: rgb(161, 120, 202);
    text-shadow: 5px 5px #8C0E03;
    ;
}

.players {
    display: flex;
    align-items: flex-end;
}

.players p {
    display: inline-block;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    font-size: 24px;
    padding: 10px;
    margin: 0px;
    color: #8C0E03;
    text-shadow: 1px 1px rgb(61, 7, 2);
}

.players .current-player {
    transition-delay: 1s;
    transition-property: color, font-weight, text-shadow;
    color: rgb(255, 71, 46);
    text-shadow: 2px 2px rgb(61, 7, 2);
    font-weight: 900;
}

#container {
    border-radius: 20px;
    background-color:#7AFFD3;
    width: 600px;
    height: 600px;
    margin-top: 10px;
    display: flex;
    align-content: space-evenly;
    justify-content: space-evenly;
    flex-wrap: wrap;
    -webkit-box-shadow: 15px 15px 0px 0px #8C0E03;
    -moz-box-shadow: 15px 15px 0px 0px #8C0E03;
    box-shadow: 15px 15px 0px 0px#8C0E03;
}

.card {
    border-radius: 10px;
    width: 130px;
    height: 130px;
    display: inline-block;
    background-size: cover;
    box-shadow: 5px 5px 0px 0px#77618C;
}

.pair1 {
    background-image: url("img/1.jpg");
}

.pair2 {
    background-image: url("img/2.jpg");
}

.pair3 {
    background-image: url("img/3.jpg");
}

.pair4 {
    background-image: url("img/4.jpg");
}

.pair5 {
    background-image: url("img/5.jpg");
}

.pair6 {
    background-image: url("img/6.jpg");
}

.pair7 {
    background-image: url("img/7.jpg");
}

.pair8 {
    background-image: url("img/8.jpg");
}

.card.disabled {
	pointer-events: none;
}

.card.closed {
    transition-delay: 1s;
    transition-property: background-image;
    background-image: url("img/cover.jpg");
}

.card.used {
    color: #00FFD3;
    background-color: #00FFD3;
    background-image: none;
}